<!DOCTYPE html>
<html>
  <head>
    <title>user.username</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi !</h1>
    <p>Welcome <%= user.username %></p>
    <p>Your email is : <%= user.email %></p>
  </body>
</html>