<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi !</h1>
    <p>Welcome <%= user.username %> admin ! ;)</p>
    <p>Your email is : <%= user.email %></p>
    <p>Your user page is ... let me guess ... Ohhh ----> <a href="/user/<%= user.username %>">Here</a></p>
    <div class="create-form">
      <form action="/form" method="post">
          <input type="text" name="name" placeholder="Form title" required="true">
          <input type="submit" value="Create the form !">
      </form>
  </div>
  <div class="list-forms">
    <% for(var i=0; i < forms.length; i++) { %>
      <div class="form"><% forms[i].name %></div>
    <% } %>
  </div>
  </body>
</html>