<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login-form">
        <form action="/signup" method="post">
            <input type="text" name="email" placeholder="E-mail" required="">
            <input type="text" name="username" placeholder="Username" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
            <input type="submit" value="REGISTER">
        </form>
    </div>
  </body>
</html>


