<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi <%= user.username %> !</h1>
    <p>Your email is : <%= user.email %></p>
    <p>Ohh ! You're connected ! So right now it's the only condition to access the admin page. <a href='/admin'>Try it ! ;)</a></p>
    <br>
    <a href='/logout'>Logout ! (We're sad :'( )</a>
  </body>
</html>