<!DOCTYPE html>
<html>
  <head>
    <title><%= user %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Page of <%= user %></h1>
    <p>Welcome <%= user %></p>
    <p>This is your page ! ;)</p>
  </body>
</html>
