<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi <%= user.username %> !</h1>
    <p>Your email is : <%= user.email %></p>
    <%if (role == "Admin") { %>
    <p>Ohh ! You're an admin ! :o Please, be my guest : <a href='/admin'>enter the matrix ! ;)</a></p>
    <% } %>
    <br>
    <a href='/logout'>Logout ! (We're sad :'( )</a>
  </body>
</html>